:root {
  --main-bg-color: #00396e;
  --precor-bg-secondary: #32cc52;
  --color-secondary: #32cc52;
  --color-gris: #878787;
  --color-azul: #00396e;
  --texto-azul: #00396e;
}
.text-white {
  color: white !important;
}
.precor-bg-green {
  color: white !important;
  background-color: var(--precor-bg-secondary) !important;
}
.precor-text-gray {
  font-size: 14px !important;
  color: var(--color-gris) !important;
}
.precor-text-gray:hover {
  color: var(--color-secondary) !important;
}
.bg-precor-azul {
  background-color: var(--main-bg-color) !important;
  color: white !important;
}
.button-precor {
  border-radius: 1.3rem !important;
  width: 100%;
  padding: 0.8rem !important;
  color: white !important;
  margin-bottom: 1rem;
}
.texto-precor-azul {
  color: var(--texto-azul);
}
/* se cambio color de mensaje  */
.dokan-alert-success,
.dokan-message,
.dokan-store-contact .alert-success,
.mc4wp-success,
.woocommerce-message,
.wpcf7-mail-sent-ok,
.yith_ywraq_add_item_product_message {
  background-color: var(--precor-bg-secondary) !important;
}
/* 
Estilos del Modal
*/
/* The Modal (background) */
.modalProducts {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding-top: 2rem;
  overflow: hidden;
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContainerProducts {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 90%;
  border-radius: 13px;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModalProducts {
  color: #aaa;
  font-size: 28px;
  cursor: pointer;
}

.closeModalProducts:hover,
.closeModalProducts:focus {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modalHeaderProducts {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00396e;
  color: white;
}

.modalContentProducts {
  padding: 1rem;
  max-height: 400px;
  overflow-y: auto;
}

.modalContentProducts table tbody {
  display: table-row-group !important;
  overflow-y: auto !important;
}

.modaltotalWoocommerce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  padding-bottom: 0;
  font-size: 14px !important;
}

.modaltotalWoocommerce span strong span {
  font-size: 14px !important;
}

.modaltotalKgWoocommerce {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  padding-bottom: 0;
  font-size: 14px !important;
}

@media (min-width: 1140px) {
  .modalProducts {
    padding-top: 0rem;
  }

  .modalContainerProducts {
    margin: 10% auto;
    max-height: 600px;
  }

  .modaltotalWoocommerce {
    font-size: 18px !important;
  }

  .modaltotalWoocommerce span strong span {
    font-size: 18px !important;
  }

  .modaltotalKgWoocommerce {
    font-size: 18px !important;
  }
}
/* fin de estilos del modal */
.not-show-precor {
  display: none;
}

/* mostrar peso peso total en cart resposive */
@media (max-width: 576px) {
  .product-precor-custom {
    display: flex;
    justify-content: space-between;
  }
  .not-show-precor {
    display: block;
  }
}

.mr-1 {
  margin-right: 4px;
}
/* badge-precor */
.badge-precor {
  text-transform: capitalize;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
.badge-precor-primary {
  background-color: #4d7db1;
}

.badge-precor-secondary {
  background-color: #6c757d;
}
.badge-precor-success {
  color: white;
  background-color: var(--main-bg-color);
}
.badge-precor-danger {
  background-color: #dc3545;
}
.badge-precor-warning {
  color: black;
  background-color: #ffc107;
}
.badge-precor-info {
  background-color: #17a2b8;
}
.badge-precor-ligth {
  color: black;
  background-color: #ffffff;
}
.badge-precor-dark {
  background-color: #343a40;
}

/* spinner de carga */

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #2f4baa;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* boton pintada cuando seleccionan */
.precor-my-address-item-selected {
  background-color: var(--main-bg-color) !important;
  color: white;
}
.precor-bg-white {
  background-color: white !important;
}
.precor-submenu {
  left: 0;
  right: 0;
  margin: auto;
}
.menu-simple-dropdown.wd-tools-element.item-event-hover {
  display: inline-flex;
}
/* correcion de posicion para submenus de botones */
.item-event-hover:hover > .sub-menu-dropdown {
  left: -18px;
}

@media(max-width: 576px){
      .precor-display-none-sm{
        display: none;
      }
}